.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    transform: scale(.98);
    transition: all .3s linear;

}
.container:hover{
    transform: scale(1);

}
.logo{
    background-color: #f9d1abbb;
    padding: 10px 14px;
    border-radius: 50%;
}